* {
    color: #ffffffff;
    margin-top: 5px;
    text-align: center;
}

*:not(p, h1) {
    color: black;
}

body {
    background: #333;
}

input {
    color: #000;
    margin-top: 2px;
}

[coolbutton] {
    background-color: #fff;
    margin-top: 10px;
    width: 200px;
    height: 50px;
    font-size: 20pt;
    border-radius: 1000px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    margin: 0;
}

.result {
    background: #fff;
    border-radius: 5px;
    width: 200px;
    height: 50px;
}