/* Adding Open Sans font */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    font-family:  "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Defining colours */
* {
    --blue-green: #219EBC;
    --pale-azure: #90D7FF;
    --pale-azure-translucent: rgba(144, 214, 255, 0.323);
    --prussian-blue: #023047;
    --selective-yellow: #FFB703;
    --palatinate: #5C164E;
    --plum: #9B287B;
    --bright-pink: #F7567C;
    --indigo--dye: #284B63;
    --carrib-current: #3C6E71;
    --jet: #353535;
    --white: #FFF;
    --platinum: #D9D9D9;
}

/*

        START BASIC STYLING
        (bg, font-family, default margin and padding enz.)

*/


* {
    
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    background: linear-gradient(to bottom right, var(--blue-green), var(--plum));
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* Upper text styling */

.intro {
    margin: 50px 0;
    padding: 20px;
    margin-left: calc(50vw - (800px / 2));
    width: 800px;
    line-height: 50px;
    border-radius: 20pt;
    background-color: var(--pale-azure);
    text-align: center;
    box-shadow: 10px 10px 1em rgba(0,0,0,0.3);
}

/* Portfolio space styling */

.portfolio-show {
    margin-bottom: 50px;
    margin-left: calc(50% - (1560px / 2));
    border-radius: 20pt;
    height: 720px;
    padding: 10px;
    width: 1560px;
    background-color: var(--pale-azure-translucent);
    box-shadow: 10px 10px 1em rgba(0,0,0,0.3);
    display: grid;
    grid-template-columns: 500px 500px 500px;
    grid-template-rows: 340px 340px 340px;
    column-gap: 20px;
    row-gap: 20px;
}


.portfolio-show > a {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    display: block;
}    

/* All portfolio tile styling
    NB: This is for EVERY tile
    Every tile is marked with:
    '.tile1' '.tile2' enz.
*/

.portfolio-tile {
    margin: 10px;
    width: 500px;
    height: 340px;
    border-radius: 10pt;
    padding: 0px;
    overflow: hidden;
    display: block;
}

/* Website image styling */

#image {
    display: block;
    width: 500px;
    height: 285px;
    padding: 0;
    margin: 0 auto;
    z-index: 0;
    object-fit:cover;
}

/* Link style cancelling */

a{
    color: #000;
    text-decoration: none;
}

/* Style of every desc (title and desc) */

.portfolio-desc {
    height: 55px;
    border-top: 1px solid black;
    width: 100%;
    margin: 0;
    padding: 15px;
    display:block;
    border-radius: 0pt;
    position: relative;
    background: rgba(255,255,255,0.3);
    color: black;
    transition: color 0.5s ease, 
                background 0.5s ease,
                box-shadow 0.5s ease;
}     

/* Hover FX */

.tile1 > a:hover > .portfolio-desc {
    background: rgb(80, 159, 159);
    color: #344;
    box-shadow: 0 30px 100px rgb(80, 159, 159);
    z-index: 1;
}

.tile2 > a:hover > .portfolio-desc {
    background: rgba(255, 60, 106, 0.849);
    z-index: 1;
}

.tile3 > a:hover > .portfolio-desc {
    background: #000;
    color: #0f0;
    box-shadow: 0 30px 100px #0f0;
    border-top: 1px solid rgb(0, 122, 0);
    z-index: 1;
}

.tile4 > a:hover > .portfolio-desc {
    background: var(--indigo--dye);
    color: var(--platinum);
    box-shadow: 0 30px 100px var(--indigo--dye);
    z-index: 1;
}

.tile5 > a:hover > .portfolio-desc {
    background: linear-gradient(to right, blue, purple);
    color: var(--platinum);
    box-shadow: 0 30px 100px blue;
    z-index: 1;
}

.tile6 > a:hover > .portfolio-desc {
    background: rgb(209, 26, 255);
    color: var(--platinum);
    box-shadow: 0 30px 100px rgb(209, 26, 255);
    z-index: 1;
}

/* Desc in the individual tiles*/

.tile1 > a > .portfolio-desc {
    animation: tile1anim 0.5s ease-in-out 0 1 forwards;
    box-shadow: 0 30px 100px white;
    /* Makes sure the box-shadow is above the image*/
    z-index: 1;
}

.tile2 > a > .portfolio-desc {
    box-shadow: 0 30px 100px black;
    /* Makes sure the box-shadow is above the image*/
    z-index: 1;
}

.tile3 > a > .portfolio-desc {
    box-shadow: 0 30px 100px white;
    /* Makes sure the box-shadow is above the image*/
    z-index: 1;
}

.tile4 > a > .portfolio-desc {
    box-shadow: 0 30px 100px white;
    /* Makes sure the box-shadow is above the image*/
    z-index: 1;
}

.tile5 > a > .portfolio-desc {
    box-shadow: 0 30px 100px black;
    /* Makes sure the box-shadow is above the image*/
    z-index: 1;
}

.tile6 > a > .portfolio-desc {
    box-shadow: 0 30px 100px black;
    /* Makes sure the box-shadow is above the image*/
    z-index: 1;
}

/* Language switcher CSS */
.language {
    position: absolute;
    height: 20px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 20px;
    top: 10px;
    right: 10px;
}

a & .selector {
    font-size: larger;
}